/* TODO: DEPRECATE? */
/*#root {*/
/*    height:100%*/
/*}*/

@font-face {
    font-family: 'LiterationMonoNerd';
    src: url(../fonts/LiterationMonoNerd.ttf);
}

html {
    color-scheme: normal!important
}

code {
    font-family: LiterationMonoNerd,Menlo,Consolas,monospace;
    /*font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace*/
}

:root {
    --primary: #50c1ee; /* blue */
    --secondary: #00daaf; /* green */
    --tertiary: #bb73eb; /* purple */
    --highlight: #fff; /* white */
    --bg: #04101DAB;
    --font-size: 16px;
}

body {
    font-family: LiterationMonoNerd, Menlo, Consolas, monospace;
    margin: 0;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    overflow: hidden!important;
}

.hud {
    display: flex;
    color: var(--primary);
    background-color: none;
    flex-direction: column;
    padding: 0.2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 100vw;
}

#devTreeHUD {
    gap: 0.5rem;
    height: auto;
    width: 10vh;
    position: fixed;
    right: 12vw;
    bottom: 8vh;
    text-transform: lowercase;
}

.options-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1px;
}

.column.key {
    float: right;
    color: var(--bg);
    background-color: var(--primary);
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    width: 1.2vh;
    height: 1.2vh;
    border-radius: 4px;
    font-weight: 900;
    padding-top: 1px;
    margin-left: 0.2rem;
    flex: 0 0 1vh;
    text-shadow:
        0 0 1px var(--bg),
        0 0 2px var(--bg);
}

.selected {
    color: var(--secondary);
}

.hover {
    color: var(--highlight);
}

:hover {
    color: var(--highlight);
}

.listGroup li:hover {
    color: var(--highlight);
    text-shadow:
        0 0 8px #444,
        0 0 10px #777,
        0 0 14px;
}

:focus {
    outline: none;
    text-shadow:
        0 0 4px var(--highlight),
        0 0 5px var(--highlight),
        0 0 7px var(--highlight),
        0 0 10px var(--highlight);
}

.selected:focus {
    text-shadow:
        0 0 4px var(--highlight),
        0 0 5px var(--highlight),
        0 0 7px var(--highlight),
        0 0 10px var(--highlight);
}

.entryField:focus {
    text-shadow:
        0 0 8px #444,
        0 0 10px #777,
        0 0 14px;
}

.hidden {
    display: none;
}

