@font-face {
    font-family: LiterationMonoNerd;
    src: url('../fonts/LiterationMonoNerd.ttf');
}

.test {
    border: 1px solid red;
}

:root {
    --primary: #aac7ff;
    --secondary: #705575;
    --secondary-light: #fad8fd;
    --bg: #04101d;
    --bg-t1: #04101dab;
    --bg-t2: #04101d75;
    --bg-t3: #04101d22;
    --font-size: 1rem;
    --brd-rad: 8px;
    --brd-size: 2px;
    /* stylelint-disable-next-line no-irregular-whitespace */
    --divider: ' ';
}

html {
    color-scheme: normal !important;
}

body {
    color: var(--primary);
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: LiterationMonoNerd, Menlo, Consolas, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--font-size);
    user-select: none;
    overflow: hidden !important;
}

code {
    font-family: LiterationMonoNerd, Menlo, Consolas, monospace;
}

ul {
    direction: ltr;
    margin: 0;
    padding-inline: 0;
    list-style-type: none;
}

ul li {
    display: flex;
    align-items: stretch;
    white-space: nowrap;
    text-overflow: ellipsis;
    clear: both;
}

#dev-tree-hud {
    gap: 0.5rem;
    height: auto;
    width: 10rem;
    position: fixed;
    right: 12rem;
    bottom: 8rem;
    text-transform: lowercase;
}

.bgt1 {
    border-radius: var(--brd-rad);
    background: var(--bg-t1);
    overflow: hidden;
}

.bgt2 {
    border-radius: var(--brd-rad);
    background: var(--bg-t2);
}

.bggradient {
    border-radius: var(--brd-rad);
    background: linear-gradient(to right, var(--bg-t1), var(--bg-t3));
}

.bgi {
    color: var(--bg);
    text-shadow:
        0 0 1px,
        0 0 1px;
    border-radius: var(--brd-rad);
    background: var(--primary);
    margin-right: -1px;
    padding-right: 2px;
}

.brdl {
    border-radius: var(--brd-rad) 0 0 var(--brd-rad);
}

.brdr {
    border-radius: 0 var(--brd-rad) var(--brd-rad) 0;
}

.brdlr {
    border-left: var(--brd-size) solid var(--primary);
    border-right: var(--brd-size) solid var(--primary);
}

.plr05 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.pl05 {
    padding-left: 0.5rem;
}

.pr05 {
    padding-right: 0.5rem;
}

.mb03 {
    margin-bottom: 0.3rem;
}

.top {
    position: absolute;
    top: 2vh;
}

.toplow {
    position: absolute;
    margin-top: 2rem;
    top: 2vh;
}

.bottom {
    position: absolute;
    bottom: 2vh;
}

.centerwidth {
    position: absolute;
    transform: translate(50%);
    right: 50vw;
}

.center {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50vw;
    top: 50vh;
}

.right {
    position: absolute;
    max-height: 70vh;
    right: 2vh;
}

.left {
    position: absolute;
    max-height: 95vh;
    left: 2vh;
}

.p1 {
    padding: 1rem;
}


.list-group {
    display: flex;
    justify-content: flex-start;
    min-width: 10rem;
    max-width: 33vw;
    flex-direction: column;
    border-radius: 0;
    background: none;
    max-height: 95vh;
}

.list-group > div {
    width: fit-content;
    max-width: 100%;
    overflow-y: auto;
}

.f15 {
    font-size: 1.5vh;
}

.f4 {
    font-size: 4vh;
}

.clr2l {
    color: var(--secondary-light);
}

.list {
    min-height: 0;
    border-left: var(--brd-size) solid var(--primary);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden auto;
}

.list li {
    padding-top: 0.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.m1li li {
    margin: 1rem;
}

.list > ul > li {
    margin: 0 0.3rem;
}

.list-secondary {
    margin-top: 0.3rem;
    flex: 1 1.5 auto;
    max-height: 33vh;
}

.list-primary {
    flex: 1 1.2 auto;
    min-height: 0;
    max-height: 70vh;
}

.mb03li li {
    margin-bottom: 0.3rem;
}

.mtb1 {
    margin: 1rem 0;
}

.flxsh0 {
    flex-shrink: 0;
}

.entry {
    /* width: min-content; */
    min-width: fit-content;
    overflow-y: hidden;
}

.entry.brdr::before {
    content: var(--divider, '|');
    color: var(--primary);
    pointer-events: none;
    text-shadow:
        0 0 4px var(--primary),
        /*0 0 10px var(--primary),*/ 0 0 12px var(--primary),
        0 0 18px var(--primary);
}

.entry.brdr::after {
    color: transparent;
    pointer-events: none;
    content: '';
}

.check {
    width: min-content;
}

.check.brdr.selected::after {
    content: '';
    color: var(--primary);
}

.check.brdr::after {
    content: '';
    color: var(--primary);
}

.control {
    margin-left: 0.3rem;
    margin-right: 0.2rem;
    font-size: 1.4rem;
}

::-webkit-scrollbar {
    display: none;
    width: 3px;
    height: 1px;
}

#crosshair {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 1.9vh;
    color: var(--primary);
    font-family: LiterationMonoNerd, Menlo, Consolas, monospace;
}

.list-entry-field {
    overflow: hidden;
    position: relative;
    direction: ltr;
}

.hud {
    display: flex;
    color: var(--primary);
    flex-direction: column;
    padding: 0.2rem;
    border-radius: var(--brd-rad);
    height: 100vh;
    width: 100vw;
}

.options-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.options-list > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem 0 0.5rem;
}

#crosshair.inactive {
    color: var(--primary);
    text-shadow: none;
}

#crosshair.selected {
    /* color: var(--secondary-light); */
    color: var(--primary);
    text-shadow: none;
}

#crosshair.active {
    color: var(--secondary-light);
    text-shadow:
        0 0 4px var(--primary),
        0 0 5px var(--primary),
        0 0 7px var(--primary),
        0 0 10px var(--primary);
}

.selected {
    color: var(--secondary);
    text-shadow:
        0 0 4px var(--primary),
        0 0 5px var(--primary),
        0 0 7px var(--primary),
        0 0 10px var(--primary);
}

:hover,
.hover {
    color: var(--bg);
    text-shadow:
        0 0 4px var(--primary),
        0 0 5px var(--primary),
        0 0 7px var(--primary),
        0 0 10px var(--primary);
}

.control:hover {
    color: var(--bg);
    text-shadow:
        0 0 4px var(--primary),
        0 0 5px var(--primary),
        0 0 7px var(--primary),
        0 0 10px var(--primary);
}

:focus,
.li-pseudo-focus {
    outline: none;
    color: var(--secondary-light);
    text-shadow:
        0 0 1px var(--bg),
        0 0 1px var(--bg),
        0 0 6px var(--primary),
        0 0 10px var(--primary),
        0 0 12px var(--secondary-light),
        0 0 15px var(--secondary-light);
}

.selected:focus {
    outline: none;
    text-shadow:
        0 0 1px var(--bg),
        0 0 1px var(--bg),
        0 0 6px var(--secondary-light),
        0 0 10px var(--secondary-light),
        0 0 12px var(--secondary-light),
        0 0 15px var(--secondary-light);
}

.selected:hover {
    text-shadow:
        0 0 4px var(--secondary-light),
        0 0 5px var(--secondary-light),
        0 0 7px var(--secondary-light),
        0 0 10px var(--secondary-light);
}

::selection {
    background: var(--secondary-light);
    color: var(--bg);
}

.entry:focus,
.li-hover,
.li-select,
.list li:focus {
    outline: none;
    color: var(--secondary-light);
    text-shadow:
        0 0 3px var(--secondary-light),
        0 0 9px var(--secondary-light);
}

.entry:focus {
    border-right: 2px solid var(--secondary-light);
}

.fav {
    color: gold;
    text-shadow:
        0 0 15px gold,
        0 0 17px gold;
}

#info-hud ul li {
    flex: 1;
    justify-content: center;
}

#button-spawnfav.selected {
    color: gold;
    text-shadow:
        0 0 15px gold,
        0 0 17px gold;
}

#button-spawnfav.selected:hover {
    text-shadow:
        0 0 10px gold,
        0 0 12px gold,
        0 0 15px gold,
        0 0 17px gold;
}

#button-spawnfav.selected:focus {
    outline: none;
    text-shadow:
        0 0 1px var(--bg),
        0 0 1px var(--bg),
        0 0 6px gold,
        0 0 10px gold,
        0 0 12px gold,
        0 0 15px gold;
}

#button-spawnfav:focus {
    outline: none;
    color: var(--secondary-light);
    text-shadow: 0 0 15px gold;
}

.context-menu {
    position: absolute;
    background: var(--bg-t1);
    border-left: var(--brd-size) solid var(--primary);
    border-right: var(--brd-size) solid var(--primary);
    box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
    z-index: 1000t;
    border-radius: var(--brd-rad);
    overflow: hidden;
}

.context-menu-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
}

.context-menu-item:hover {
    color: var(--bg);
    text-shadow:
        0 0 1px,
        0 0 1px;
    background: var(--secondary-light);
}

#tooltip {
    position: fixed;
    left: 5px;
    bottom: 5px;
    padding: 3px 5px;
    pointer-events: none;
    background-color: var(--bg-t2);
    border-radius: var(--brd-rad);
}

.data {
    display: block;
    padding: 0.5rem;
    text-align: left;
    min-height: 5vh;
    max-height: 66vh;
    width: 30vw;
    overflow-y: auto;
}

.data:focus {
    text-shadow: none;
}

.contentleft {
    justify-content: left;
}

.fit {
    width: fit-content;
}

.hidden {
    display: none;
}
