:root { --style-color: #50c1ee; }

/* body {
    background: #444;
    background-image: url(buwth80q93191.webp);
} */

/* div {
    border-style: dashed;
    border-width: 0px;
} */

#header {
    padding-top: 3px;
    margin-bottom: 6px;
    border: 0px;
    color: #04101d;
    letter-spacing: 8px;
    text-align: right;
    border-bottom: 1px solid var(--style-color);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: var(--style-color);
    text-shadow:
        0 0 3px #04101d,
        0 0 3px #224974;
        /* 0 0 4px; */
        /* 0 0 10px, */
        /* 0 0 12px; */
}

#dev-display {
    /* padding: 10px; */
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    position: absolute;
    width: 8%;
    height: relative;
    right: 7%;
    bottom: 10%;
    background: rgba(4, 16, 29, 0.769);
    /* background: rgb(22,22,22,0.75); */
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-width: 1px;
    border-style: solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    /* border-radius: 8px; */
    border-color: var(--style-color);
    display: none;
    font-size: 1.05vw;
    padding-bottom: 4px;
}

#devOptions,#menuOptions {
    position: relative;
}

#devOptions > div,#menuOptions > div {
    margin-top: 2px;
    margin-bottom: 2px;
    /* background-image: url(img/rdr_menu_row.png); */
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.column {
    float: left;
    width: auto;
    margin-right: 0.4em;
}

.key {
    text-align: center;
    text-transform: capitalize;
    padding-top: 1px;
    width: 1.3em;
    border-color: var(--style-color);
    border-width: 1px;
    border-style: solid;
    /* background-color: #666; */
    border-radius: 4px;
    font-weight: 750;
    font-family: Menlo,Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
    font-size: 0.55vw;
    color: var(--style-color);
    text-shadow:
        0 0 2px #444,
        0 0 3px #444,
        0 0 4px;
}

.value {
    font-size: 0.65vw;
    /* color: #DDDDDD; */
    margin-left: 0.8em;
    width: 75%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.hud-text {
    font-family: Menlo,Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
    text-align: left;
    text-transform: lowercase;
    font-size: 0.65vw;
    font-weight: 600;
    color: var(--style-color);
    text-shadow:
        0 0 2px #444,
        0 0 3px #444,
        0 0 4px;
}
