
@font-face {
    font-family: 'LiterationMonoNerd';
    src: url(./assets/LiterationMonoNerd.ttf);
}

:root {
    --style-color: #50c1ee;
    --style-t: #50c1ee80;
    --style-aux: #00daaf;
    --style-pur: #bb73eb;
    --aux: #ddd;
}

 body {
    background: #555;
    /*background-image: url(buwth80q93191.webp);*/
}

#header {
    padding-left: 12%;
    padding-top: 1px;
    margin-bottom: 6px;
    border: 0px;
    color: #04101d;
    letter-spacing: 10px;
    text-align: center;
    border-bottom: 1px solid var(--style-color);
    /*border-top-left-radius: 6px;*/
    /*border-top-right-radius: 6px;*/
    background: var(--style-color);
    text-shadow:
        0 0 2px #04101d;
        /*0 0 3px #224974;*/
        /* 0 0 4px; */
        /* 0 0 10px, */
        /* 0 0 12px; */
}

.dev {
    color: var(--style-color);
    font-family: LiterationMonoNerd,Menlo,Consolas,monospace;
    font-size: 0.65vw;
    font-weight: 300;
    text-align: left;
    text-shadow:
        0 0 0px var(--style-color),
        0 0 14px var(--style-color);
    padding-bottom: 4px;
    height: relative;
    border-color: var(--style-color);
    /*border-top-left-radius: 8px;*/
    /*border-top-right-radius: 8px;*/
    /*border-bottom-right-radius: 8px;*/
    /* border-radius: 8px; */
    background: rgba(4, 16, 29, 0.769);
    position: absolute;
    display: none;
}

#devMenu {
    width: 8%;
    right: 7%;
    bottom: 10%;
    text-transform: lowercase;
}

#devAnimControl {
    color: var(--style-color);
    /*text-shadow: none;*/
    bottom: 2%;
    right: 50%;
    width: auto;
    padding: 0px;
    display: block;
    /*background: none;*/
    transform: translate(50%);
}

#animControl ul {
    flex-direction: column;
    list-style-type: none;
    display: flex;
    padding-inline-start: 2px;
    padding-inline-end: 0px;
}

#animControl li {
    margin: 0px;
    /*margin-bottom: 2px;*/
    padding: 0px;
}


#devTextEntry {
    color: var(--aux);
    bottom: 8%;
    right: 50%;
	transform: translate(50%);
    /*padding-left: 7px;*/
    /*padding-right: 7px;*/
    /*padding-top: 5px;*/
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    /*border-left: 2px solid var(--style-color);*/
    /*border-right: 2px solid var(--style-color);*/
    display: none;
}

.textEntryField:before {
    color: var(--style-color);
    content: "██ ";
}

.textEntryField:after {
    color: transparent;
    content: " ";
}

.borderTop {
    border-top: 2px solid var(--style-color);
}

#devOptions,#menuOptions,#animControl {
    position: relative;
}

#devOptions > div,#menuOptions > div {
    margin-top: 2px;
    margin-bottom: 2px;
    /* background-image: url(img/rdr_menu_row.png); */
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.column {
    float: left;
    width: auto;
    margin-right: 0.4em;
}

.key {
    text-align: center;
    text-transform: capitalize;
    padding-top: 1px;
    width: 1.3em;
    border-color: var(--style-color);
    border-width: 1px;
    border-style: solid;
    /* background-color: #666; */
    border-radius: 4px;
    font-weight: 750;
    font-family: LiterationMonoNerd,Menlo,Consolas,monospace;
    font-size: 0.55vw;
    color: var(--style-color);
    text-shadow:
        0 0 2px #444,
        0 0 3px #444,
        0 0 4px;
}

.value {
    font-size: 0.65vw;
    margin-left: 0.8em;
    width: 75%;
}

.control {
    margin-left: 0.3em;
    font-size: 1.0vw;
}

.control.selected {
    color: var(--aux);
    text-shadow:
        0 0 2px #444,
        0 0 3px #444,
        0 0 4px,
        0 0 10px;
}

.control:hover {
    color: var(--aux);
    text-shadow:
        0 0 2px #444,
        0 0 3px #444,
        0 0 4px,
        0 0 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    margin: 0px;
    padding: 0px;
    /* background: #444; */
    font-family: LiterationMonoNerd,Menlo,Consolas,monospace;
    font-size: 0.65vw;
    text-shadow: 0 0 2px;
    color: var(--aux);
}

/* div {
    border-width: 0px;
    border-style: dashed;
} */

.glow-icon {
    /* color: #484848; */
    /* color:rgba(10, 10, 10, 0.8); */
    color:rgba(255, 255, 255, 0.8);
    text-shadow: none;
    text-align: center;
}

.glow-icon.selected {
    color: var(--style-color);
    text-shadow:
        0 0 2px #444,
        0 0 3px #444,
        0 0 4px,
        0 0 10px;
}

.glow-icon:hover {
    color: var(--aux);
    text-shadow:
        0 0 2px #444,
        0 0 3px #444,
        0 0 4px,
        0 0 10px;
}

.glowbar {
    display: block;
    width: 0px;
    margin-left: -1px;
    border-width: 0px;
    border-left: var(--style-color);
    border-left-width: 1px;
    border-style: solid;
    box-shadow:
      0 0 3px var(--style-color),
      0 0 4px var(--style-color),
      0 0 10px var(--style-color);
    overflow: hidden;
    z-index: 100;
}

#hud-column-left {
    position: absolute;
    left: 2%;
    top: 2%;
    height: fit-content;
    width: 30%;
}

.hudGroup {
    display: block;
    flex-direction: column;
}

.hudElement {
    display: none;
    margin-bottom: 1%;
}

div[id$="-main"] {
    display: flex;
}

.kitElement {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5px;
    /* background-color: rgba(40, 40, 40, 0.7); */
    /* background-image: linear-gradient(to right, rgba(50, 50, 50, 0.9), rgba(50, 50, 50, 0)); */
}

.title {
    padding: 2px;
    padding-top: 3px;
    margin-right: 5px;
    text-align: right;
    width: 12%;
    /* color: #000; */
}

.title.small {
    width: 10%;
}

ul {
    margin: 0px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

li {
    display: flex;
    align-items: stretch;
    margin-top: 5px;
    clear: both;
    /* overflow-x: hidden; */
}

#dict-results ul, #dict-results ul li, #anim-results ul, #anim-results ul li {
    padding: 0px;
    margin: 0px;
}

li div.glow-icon {
    padding: 3px;
    margin-left: 5px;
    vertical-align: middle;
}

.field {
    display: relative;
    color: var(--aux);
    /* text-shadow:
        0 0 2px #444,
        0 0 3px #444,
        0 0 4px,
        0 0 10px; */
    padding: 2px;
    padding-top: 3px;
    padding-left: 5px;
    width: 75%;
    /* background-image: linear-gradient(to right, rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0)); */
}

#dict-results, #anim-results {
    direction: rtl;
    display: relative;
    padding: 2px;
    padding-top: 3px;
    padding-left: 5px;
    width: 75%;
    max-height: 32em;
    overflow-y: auto;
    overflow-x: visible;
}

#anim-results {
    max-height: 20em;
}

::-webkit-scrollbar {
    width: 2px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    background: var(--aux);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--style-color);
    box-shadow:
      0 0 3px var(--style-color),
      0 0 4px var(--style-color),
      0 0 10px var(--style-color);
}

ul {
    direction: ltr;
}

.field.small {
    width: 15%;
}

.field.smallest{
    width: 8%;
}

.field-extra {
    display: relative;
    color: #ccc;
    margin-left: 25px;
    width: max-content;
    text-shadow: none;
    vertical-align: middle;
}

input[type="range"] {
    margin-top: 7px;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    width: 180%;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-image: linear-gradient(to right, #50c1ee55, #00daafFF, #50c1ee55);
    box-shadow:
      0 0 3px var(--aux);
    height: 1px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    width: 1px;
    margin-top: -3px;
    background: var(--style-color);
    box-shadow:
      0 0 3px var(--style-color),
      0 0 4px var(--style-color),
      0 0 10px var(--style-color);
}

table {
    font-size: 0.65vw;
    width: fit-content;
}

td, tr {
    height: 15px;
    width: 15px;
    max-width: 15px;
    border: 1px solid white;
}

tr.flag-headers {
    height: 50px;
}

.w {
    border: 1px solid blue;
    white-space: nowrap;
    text-align: center;
    /* overflow: hidden; */
    /* transform-origin: center;
    transform: rotate(90deg); */
}

#dict-results, #anim-results, #active-animDict {
    padding-right: 30em;
    margin-right: -30em;
    /* background-image: linear-gradient(to right, rgba(20, 20, 20, 0.7),rgba(20, 20, 20, 0), rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)); */
}

li.largeResult {
    /* margin-bottom: 1px; */
    /* background-image: linear-gradient(to right, rgba(20, 20, 20, 0.9),rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0)); */
    color: var(--aux);
    /* text-shadow:
        0 0 2px #444,
        0 0 3px #444,
        0 0 4px,
        0 0 10px; */
}

li.largeResult:hover {
    color: var(--style-color);
    text-shadow:
        0 0 2px #444,
        0 0 3px #444,
        0 0 4px,
        0 0 10px;
 }


#crosshair {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.9vh;
	color: white;
    font-family: LiterationMonoNerd,Menlo,Consolas,monospace;
}

#crosshair.inactive {
	color: #FFFFFF;
}

#crosshair.active {
	color: var(--style-color);
}

#crosshair.selected {
	color: var(--style-aux);
}
